/triangle/poly/*
!/triangle/poly/triangle.sh
/tmp_simulation/a.out
/tmp_simulation/boundary.txt
/tmp_simulation/coord.txt
/tmp_simulation/nop.txt
/tmp_simulation/tmp_vtk/*
!/tmp_simulation/tmp_vtk/.gitkeep
/tmp_simulation/tmp_data
